/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Landing_page
 */
#landing_page {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vh;
  height: auto;}

.background-image {
  width: 100vw;
  height: auto;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;}

.grid-parent{
  display: grid;
  width: 63vw;
  height: 50vw;
  padding-left: 20vw;
  padding-top: 1.2vw;
  border-style: solid;
  border-color: red;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

.grid-item{
  border-style:dashed;
  border-color:grey;
  display: block;
}

.mobile-background-image {
    display: none;
    }

/**
 * mobile-view
 */


@media screen and (max-width: 700px) {
.background-image {
  display: none;}

.mobile-background-image {
  display: inline;
  width: 100vw;
  height: auto;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;}

.grid-parent{
  display: grid;
  width: 75vw;
  height: 142vw;
  padding-left: 15vw;
  padding-top: 10vw;
  border-style: solid;
  border-color: blue;
  grid-template-columns: 1fr 1fr 1fr 1fr;}

.grid-item{
  display: block;
  border-style:dashed;
  border-color:green;}



}
