<script>
  var today = new Date();
  var start = new Date(2018, 11, 01)
  var end = new Date (2018,11, 24)

  if(today <= end && today.getMonth() < 11){
    for(day = 0; day < 25; day++){ $('#article-' + day).hide();}
    console.log("It's not yet December 2018")
  } else if (today <= end && today.getMonth() == 11){
    for(day = 0; day < 25; day++){
      if(day > today.getDate()){
        // $('#lnk' + day).attr("href", "javascript: void(0)");
        $('#article-' + day).hide();
      }
      console.log("It's December 2018")
    }
  } else {
    console.log("It's not yet December 2018")
  }
</script>
