<script>
  var today = new Date();

  function gcd(x, y){
    if (y == 0){ return x; }
    return gcd (y, x % y);
  }

  function check(){
   var ratio = gcd($( window ).width(), $( window ).height());
   var testratio =  ($( window ).width()/ratio)/($( window ).height()/ratio);

    if(testratio>6/5){//screen is wider than 16:9, do something}
      console.log("smaller than 6/5")
      $(".hg_landing").attr("style","background-image: url({{.Site.BaseURL}}img/background_desktop_processed/D" + today.getDate() + ".jpg);");
    }else{
      $(".mobile-background-image").attr("src","{{.Site.BaseURL}}img/background_mobile_processed/D" + today.getDate() + ".jpg");
    }
  }

  check();

</script>
