  <header class="hg__header header">
    {{ if .IsHome }}
    <h1 class="title"><a href="{{.Site.BaseURL}}/days">{{ .Site.Title }}</a></h1>
    {{ else }}
    <p class="title"><a href="{{.Site.BaseURL}}/days">{{ .Site.Title }}</a></p>
    {{ end }}
    {{ if .IsHome }}
    {{else}}
    <button class="menu-toggle" type="button"></button>
    <nav class="menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </header>
