{{ $qrapi := delimit (slice "https://qrcode.tec-it.com/API/QRCode?data=" .Params.postUrl "&color=%23ffffff&backcolor=%23ffffff&istransparent=True") "" }}
<div id="wrapper" style="margin-top:20px">
  <!-- <div id="leftcolumn">
    <div class="numberCircle">
      <img src="{{ $qrapi }}" width="60%"/>
    </div>
  </div> -->
  <div id="rightcolumn" style="padding-top: 40px;">
      <p class="call-for-action">{{ .Params.call }}</p>
      <p class="post-meta">
      </p>
  </div>
</div>
<!-- <div id="wrapper">
  <div id="leftcolumn">
    <div class="numberCircle">
      <p>!?</p>
    </div>
  </div>
  <div id="rightcolumn">
      <h2 class="post-title">{{ .Params.call }}</h2>
  </div>
</div> -->
