<script>
  var today = new Date();
  // var today = new Date (2018, 11, 12);
  var start = new Date(2018, 11, 01);
  var end = new Date (2018,11,24);

  if(today > start && today < end){
    $(".background-image").attr("src","{{.Site.BaseURL}}img/background_desktop_processed/D" + today.getDate() + ".jpg");
    $(".mobile-background-image").attr("src","{{.Site.BaseURL}}img/background_mobile_processed/D" + today.getDate() + ".jpg");
  }else if (today >= end) {
    $(".background-image").attr("src","{{.Site.BaseURL}}img/background_desktop_processed/D24.jpg");
    $(".mobile-background-image").attr("src","{{.Site.BaseURL}}img/background_mobile_processed/D24.jpg");
  }else{
    $(".background-image").attr("src","{{.Site.BaseURL}}img/background_desktop_processed/D0.jpg");
    $(".mobile-background-image").attr("src","{{.Site.BaseURL}}img/background_mobile_processed/D0.jpg");
  }

  if(today <= end && today.getMonth() < 11){
    for(day = 0; day < 25; day++){ $('#lnk' + day).hide();}
    console.log("It's not yet December 2018")
  } else if (today <= end && today.getMonth() == 11){
    $("#landing_circle").hide()
    for(day = 0; day < 25; day++){
      if(day > today.getDate()){
        // $('#lnk' + day).attr("href", "javascript: void(0)");
        $('#lnk' + day).hide();
      }
      console.log("It's December 2018")
    }
  }
</script>
