<script>
  var today = new Date();
  // var today = new Date(2006, 12, 07);
  // console.log(today);
  for(day = 0; day < 25; day++){
    if(day !== today.getDate()){
      $('#' + day).hide();
    } else {
      $('#' + day).show();
    }
  }
  window.setInterval(function(){
    console.log(today);
    for(day = 0; day < 25; day++){
      if(day !== today.getDate()){
        $('#' + day).hide();
      } else {
        $('#' + day).show();
      }
    }
  }, 10000);
</script>
