{{ define "main" }}
<main class="hg__main">
<article class="post post-view">
  <header class="post-header">
    {{ partial "post-header.html" . }}
    {{ if .Params.headerimage }}
    <div class="single-header-image">
      <img class="header-image" src="{{.Site.BaseURL}}img/{{ .Params.headerimage }}"/>
    </div>
    {{ end }}
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>
</main>
{{ end }}
