{{ define "main" }}
<main class="hg__main">
<article class="post post-view" id="article-{{ .Params.number }}">
  <header class="post-header">
    {{ partial "post-header.html" . }}
    {{ if .Params.headervideo }}
      <div class="single-header-image">
        <video controls autoplay loop width="100%">
          <source src=" {{.Site.BaseURL}}img/{{ .Params.headervideo }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </div>
    {{ else if .Params.headerimage }}
    <div class="single-header-image">
      <img class="header-image" src="{{.Site.BaseURL}}img/{{ .Params.headerimage }}"/>
    </div>
    {{ end }}
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>
</main>
{{ partial "articleactivator.html"}}
{{ end }}
