{{ partial "head.html" . }}
{{ partial "noheader.html" . }}
<article class="post post-view">
  {{ range (where .Site.Pages ".Params.type" "=" "day") }}
  <article id={{ .Params.number }} class="post first-entry" style="padding-top:138px">
      <header class="post-header">
        {{ partial "post-header.html" . }}
      </header>
      <div class="post-content textonly">
        {{ if .Params.shortened }}
          {{ with .Params.shortened }}
            <p>{{ . | markdownify }}</p>
          {{ end }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
        {{ partial "interact.html" .}}
      </div>
  </article>
  {{ end }}
</article>
{{ partial "showhide.html" }}
