/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

  /*--------------------------------------------*/
  /*      CSS Grid Layout                       */
  /*--------------------------------------------*/
  .hg_landing__header { grid-area: header; }
  .hg_landing__footer { grid-area: footer; }
  .hg_landing__main { grid-area: main; }
  .hg_landing__left { grid-area: navigation; }
  .hg_landing__right { grid-area: ads; }
  .hg_landing {
  	display: grid;
    width: 100vw;
  	grid-template-areas: "header header header"
  	                     "navigation main ads"
  	                     "footer footer footer";
  	/* grid-template-columns: 15vw 1fr 15vw; */
  	grid-template-columns: 20vw 1fr 18vw;
  	grid-template-rows: 100px
  						1fr
  						30px;
  	height: 100vh;
  }

@media screen and (max-aspect-ratio: 6/5)  {
  	.hg_landing !important {
  		grid-template-areas: "header"
  		                     "navigation"
  		                     "main"
  		                     "ads"
  		                     "footer";
  		grid-template-columns: 100%;
  		grid-template-rows: 100px
  							50px
  							1fr
  							50px
  							30px;
  		padding: 15px;
  	}
  }

/**
 * Basic styling
 */
body {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.6;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
  color: #fff;
  /* background-color: #009930; */
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
  color: #fff;
}

.menu > ul{
  margin-bottom: 0px;
  color: #000;
}

.menu-toggle::before, .menu-toggle::after{
  top: 18px;
  background: #fff;
}

/**
 * Landing_page
 */
#landing_page {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;}

.hg_landing__left{
  display: grid;
  grid-template-areas: "landingCircle"
                       "landing_menu";
  grid-template-columns: 100%;
  grid-template-rows: 1fr
            20vh;
  padding: 15px;
}

.landing_menu{
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.5vw;
  list-style-type: none;
}

.title{
  margin-left: auto;
  margin-right: auto
}

.title a {
  margin-top: 4vh;
  font-variant: small-caps;
  font-size: 2.4vw !important;
}

.background-image {
  height: 100vh;
  min-width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;}

.grid-parent{
  display: grid;
  width: 62vw;
  height: 92vh;
  padding-left: 0vw;
  margin-top: calc(1.2vw - 100px);
  /* border-style: solid;
  border-color: red; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "1 2 3 4 5 6"
                      "7 8 9 10 11 12"
                      "13 14 15 16 17 18"
                      "19 20 21 22 23 24";
  }

.grid-item{
  display: block;
}

#grid-item1{grid-area: 1;}
#grid-item2{grid-area: 2;}
#grid-item3{grid-area: 3;}
#grid-item4{grid-area: 4;}
#grid-item5{grid-area: 5;}
#grid-item6{grid-area: 6;}
#grid-item7{grid-area: 7;}
#grid-item8{grid-area: 8;}
#grid-item9{grid-area: 9;}
#grid-item10{grid-area: 10;}
#grid-item11{grid-area: 11;}
#grid-item12{grid-area: 12;}
#grid-item13{grid-area: 13;}
#grid-item14{grid-area: 14;}
#grid-item15{grid-area: 15;}
#grid-item16{grid-area: 16;}
#grid-item17{grid-area: 17;}
#grid-item18{grid-area: 18;}
#grid-item19{grid-area: 19;}
#grid-item20{grid-area: 20;}
#grid-item21{grid-area: 21;}
#grid-item22{grid-area: 22;}
#grid-item23{grid-area: 23;}
#grid-item24{grid-area: 24;}

.mobile-background-image {
    display: none;
    }

#landing_circle {
  z-index: 1;
  position: absolute;
  margin-left: 39vw;
  margin-right: auto;
  margin-top: 45vh;
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 50%;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-1ss0deg);

}

#landing_circle > p {
  font-size: 3vh;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

/**
 * mobile-view
 */


@media screen and (max-aspect-ratio: 6/5) {
  .background-image {
    display: none;}

  .mobile-background-image {
    display: inline;
    width: 100vw !important;
    height: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;}

  .grid-parent  {
    display: grid;
    width: 88vw !important;
    height: 146vw !important;
    padding-left: 9vw !important;
    padding-top: 6vw !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-areas: "1 2 3 4"
                        "5 6 7 8"
                        "9 10 11 12"
                        "13 14 15 16"
                        "17 18 19 20"
                        "21 22 23 24" !important;
    }

  .grid-item{
    display: block !important;
    }

  .hg_landing__left, .hg_landing__right {
    display: none;
  }

  .title a {
    margin-top: 4vh;
    font-variant: small-caps;
    font-size: 5vw !important;
  }

  #landing_circle {
    margin-left: 39vw;
    margin-right: auto;
    margin-top: 45vh;
    width: 150px;
    height: 150px;}
  #landing_circle > p {
    padding: 10px;
    font-size: 20px;
  }
}
